#loading-box
    // partial:index.partial.html
    .loading
    img(src='/img/pikachu.gif' alt='Loading')
    .mouse.original
    // partial
    script(src='/js/jquery-2.2.4.min.js')
    script(src='/js/pikachu.js')
